

.heading {
    background-color: aquamarine;
    text-align: center;
    width: 200px;
    height: 50px;
    margin: auto;
    padding: 25px;
    font-size: 30px;
    border: 10px solid rgb(223, 59, 157);
}

.box{
    margin: 15px;
    border: 5px solid rgb(223, 59, 157);
    background-color: aquamarine;

}

p { 
    text-align: center;
    padding: 25px;

}

.about {
    font-size: 20px;
}

.lime {  
    padding: 25px;
}

.choco {
    padding: 25px;
}

.marb {
    padding: 25px;
}